.button {
  width: 100px;
  padding: 10px;
  margin-right: 30px;
  border: 2px solid brown;
  border-radius: 10px;
  background-color: rgb(15, 236, 169);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: 18px;
  text-transform: capitalize;
}

.button:hover,
.button:focus {
  background-color: rgb(144, 101, 0);
  cursor: pointer;
  color: aliceblue;
}
